<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,1016}</string>
                <key>spriteSourceSize</key>
                <string>{591,1016}</string>
                <key>textureRect</key>
                <string>{{0,0},{591,1016}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NewLogin.png</string>
            <key>size</key>
            <string>{591,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8941708d66471b7d0991e1129658e73:7e1a731ef56bcc35dd7834938317f853:46260c56b1063f7acdc14fc350510577$</string>
            <key>textureFileName</key>
            <string>NewLogin.png</string>
        </dict>
    </dict>
</plist>
