<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,1033}</string>
                <key>spriteSourceSize</key>
                <string>{648,1033}</string>
                <key>textureRect</key>
                <string>{{0,0},{648,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,1033}</string>
                <key>spriteSourceSize</key>
                <string>{648,1033}</string>
                <key>textureRect</key>
                <string>{{648,0},{648,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,1016}</string>
                <key>spriteSourceSize</key>
                <string>{591,1016}</string>
                <key>textureRect</key>
                <string>{{1296,0},{591,1016}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>randomImages.png</string>
            <key>size</key>
            <string>{1887,1033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f60795c99c767cbcac77ff97c92b8f9:08ec8ca8daac22bb6e0c1aaf646a5b9b:46ac8fe53f0744c85a58f6d3e9afb145$</string>
            <key>textureFileName</key>
            <string>randomImages.png</string>
        </dict>
    </dict>
</plist>
