<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anim11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{0,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{409,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{818,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1227,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1636,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{0,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{409,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{818,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1227,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1636,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShaberEffe1.png</string>
            <key>size</key>
            <string>{2045,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1118966eac969f61a2f9d24a70c1ee73:89b34121efa9364eca7c2960d689fcc1:8f945ced2146e260c1e47d529d09c49a$</string>
            <key>textureFileName</key>
            <string>ShaberEffe1.png</string>
        </dict>
    </dict>
</plist>
