<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{0,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1636,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{409,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{818,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1227,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1636,0},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{0,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{409,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{818,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anim9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,658}</string>
                <key>spriteSourceSize</key>
                <string>{409,658}</string>
                <key>textureRect</key>
                <string>{{1227,658},{409,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShaberEff.png</string>
            <key>size</key>
            <string>{2045,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19daa4ae0bc440d37e748b0f21ff98fa:9db86ee1d238ac7abeab6444cbfde928:e06cc5221da2edf567c8849e74aa23b7$</string>
            <key>textureFileName</key>
            <string>ShaberEff.png</string>
        </dict>
    </dict>
</plist>
