<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpintheWheelCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,235}</string>
                <key>textureRect</key>
                <string>{{0,1791},{270,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spineTheWheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,1050}</string>
                <key>spriteSourceSize</key>
                <string>{870,1050}</string>
                <key>textureRect</key>
                <string>{{0,0},{870,1050}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,741}</string>
                <key>spriteSourceSize</key>
                <string>{779,741}</string>
                <key>textureRect</key>
                <string>{{0,1050},{779,741}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpinTheWheel.png</string>
            <key>size</key>
            <string>{870,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1400fda047c173e108d27ca18dd688d:fb7c4271e01d1c5ee91927a740647f92:6a2010f743ccf7f381b9af8cc575303d$</string>
            <key>textureFileName</key>
            <string>SpinTheWheel.png</string>
        </dict>
    </dict>
</plist>
